.faqOuter{
    width: 1000px;
    margin: auto;
}
.faqOuter h1{
    text-align: center;
    padding: 30px 0px;
}

.FaqItems{
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.FaqItems h3{
    padding: 10px;
    cursor: pointer;
    margin: 0px;
    background-color: gold;
}
.ans{
    margin: 0px;
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
}


.showAns{
    padding: 10px;
    max-height: 1000px;
    overflow: visible;
}